/* Estilos base para registro usuario */
body {
  background-color: #F2F2F2;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  color: #025E73;
   background-image: url('img/equipo-de-medicos-especialistas-jovenes-de-pie-en-el-pasillo-del-hospital.jpg');
   background-repeat: no-repeat;
  background-size: cover;

  /* centrar fondo */
  background-position: center top;

  background-attachment: fixed;
}

/* Contenedor principal del registro usuario */
.registro-usuario {
  max-width: 400px;
  background-color: #F2F2F2;
  margin: 80px auto;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

/* Título */
.registro-usuario__titulo {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 25px;
  text-align: center;
  color: #043959;
}

/* Grupo label + input */
.registro-usuario__grupo {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

/* Etiquetas */
.registro-usuario__label {
  font-weight: 600;
  margin-bottom: 8px;
}

/* Inputs */
.registro-usuario__input {
  padding: 10px 12px;
  border: 1.8px solid #025E73;
  border-radius: 6px;
  font-size: 1rem;
  color: #025E73;
  outline: none;
  transition: border-color 0.3s ease;
}

.registro-usuario__input:focus {
  border-color: #043959;
}

/* Botón registrar */
.registro-usuario__boton {
  background-color: #043959;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.registro-usuario__boton:hover {
  background-color: #025E73;
}
